/* Font Family Abel*/

@font-face {
  font-family: Abel;
  src: url("../fonts/Abel/Abel-Regular.ttf");
}

/* Font Family Anton*/

@font-face {
  font-family: Anton;
  src: url("../fonts/Anton/Anton-Regular.ttf");
}
/* Font Family Josefin*/

@font-face {
  font-family: Josefin;
  src: url("../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}
/* Font Family Lexend Deca*/

@font-face {
  font-family: Lexend;
  src: url("../fonts/Lexend_Deca/LexendDeca-Regular.ttf");
}
/* Font Family Lexend Livvic*/

@font-face {
  font-family: Livvic;
  src: url("../fonts/Livvic/Livvic-Bold.ttf");
}
